<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="True"/>
    <add key="PageSizeProvider" value="True"/>
    <add key="IDPrefix" value="CR"/>
    <add key="IDLength" value="4"/>
    <add key="RequestAttachmentPath" value="D:\App_Vault\ERPChangeRequest\Folder01"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="--AspNetDBConnection" connectionString="Data Source=192.168.28.136;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=192.9.200.150;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD"/>
        <add directoryName="QCM"/>
        <add directoryName="ERP"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <httpRuntime executionTimeout="14400" />
    <customErrors mode="RemoteOnly"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="RGV" namespace="LavaBlast.AJAX.GridViewResizeExtender" assembly="GridViewResizeExtender"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="PageSearchBar" src="~/Sys_Controls/PageSearchBar.ascx"/>
        <add tagPrefix="LGM" tagName="LGSearch" src="~/Sys_Controls/lgSearch.ascx"/>

        <add tagPrefix="LGM" tagName="LC_erpApplications" src="~/ERP_Main/APP_FKControls/LC_erpApplications.ascx" />
        <add tagPrefix="LGM" tagName="LC_erpRequestStatus" src="~/ERP_Main/APP_FKControls/LC_erpRequestStatus.ascx" />
        <add tagPrefix="LGM" tagName="LC_erpRequestPriority" src="~/ERP_Main/APP_FKControls/LC_erpRequestPriority.ascx" />
        <add tagPrefix="LGM" tagName="LC_erpRequestTypes" src="~/ERP_Main/APP_FKControls/LC_erpRequestTypes.ascx" />
        <add tagPrefix="LGM" tagName="LC_erpRoles" src="~/ERP_Main/APP_FKControls/LC_erpRoles.ascx" />

        <add tagPrefix="LGM" tagName="LC_erpTPTBillReasons" src="~/ERP_Main/APP_FKControls/LC_erpTPTBillReasons.ascx" />
        <add tagPrefix="LGM" tagName="LC_erpTPTBillStatus" src="~/ERP_Main/APP_FKControls/LC_erpTPTBillStatus.ascx" />

      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>