<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="False"/>
    <add key="PageSizeProvider" value="False"/>
    <add key="BypassVerifier" value="True"/>
    <add key="PerkUsers" value="*"/>
    <add key="UseLive" value="True"/>
    <add key="LiveAuth" value="31:167"/>
    <add key="YnrWebAuth.WebAuthorizationService" value="http://localhost/YnrTools2/App_Services/WebAuthorizationService.asmx"/>
    <add key="WebAuth.WebAuthorizationService" value="http://localhost/WebTools2/App_Services/WebAuthorizationService.asmx"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="AspNetDBConnection" connectionString="Data Source=.;Initial Catalog=ynrWeb;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec@12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=ynrWeb;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="--AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD"/>
        <add directoryName="SPMT"/>
        <add directoryName="QCM"/>
        <add directoryName="TA"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <httpRuntime executionTimeout="14400"/>
    <customErrors mode="RemoteOnly"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="RGV" namespace="LavaBlast.AJAX.GridViewResizeExtender" assembly="GridViewResizeExtender"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmProjects" src="~/TA_Main/APP_FKControls/LC_qcmProjects.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmCompanies" src="~/TA_Main/APP_FKControls/LC_qcmCompanies.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmDepartments" src="~/TA_Main/APP_FKControls/LC_qcmDepartments.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmDesignations" src="~/TA_Main/APP_FKControls/LC_qcmDesignations.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmOffices" src="~/TA_Main/APP_FKControls/LC_qcmOffices.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taWebUsers" src="~/TA_Main/APP_FKControls/LC_taWebUsers.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taEmployees" src="~/TA_Main/APP_FKControls/LC_taEmployees.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taDivisions" src="~/TA_Main/APP_FKControls/LC_taDivisions.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taDepartments" src="~/TA_Main/APP_FKControls/LC_taDepartments.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taCategories" src="~/TA_Main/APP_FKControls/LC_taCategories.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taCurrencies" src="~/TA_Main/APP_FKControls/LC_taCurrencies.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taCityTypes" src="~/TA_Main/APP_FKControls/LC_taCityTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taTravelModes" src="~/TA_Main/APP_FKControls/LC_taTravelModes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taLCModes" src="~/TA_Main/APP_FKControls/LC_taLCModes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taFinanceHeads" src="~/TA_Main/APP_FKControls/LC_taFinanceHeads.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taExpenseHeads" src="~/TA_Main/APP_FKControls/LC_taExpenseHeads.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taOOEReasons" src="~/TA_Main/APP_FKControls/LC_taOOEReasons.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taRegionTypes" src="~/TA_Main/APP_FKControls/LC_taRegionTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taRegions" src="~/TA_Main/APP_FKControls/LC_taRegions.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taCountries" src="~/TA_Main/APP_FKControls/LC_taCountries.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taCities" src="~/TA_Main/APP_FKControls/LC_taCities.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taApprovalWFTypes" src="~/TA_Main/APP_FKControls/LC_taApprovalWFTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taTravelTypes" src="~/TA_Main/APP_FKControls/LC_taTravelTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taBillStates" src="~/TA_Main/APP_FKControls/LC_taBillStates.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taBills" src="~/TA_Main/APP_FKControls/LC_taBills.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taCalcMethod" src="~/TA_Main/APP_FKControls/LC_taCalcMethod.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taComponents" src="~/TA_Main/APP_FKControls/LC_taComponents.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taPrjCalcMethod" src="~/TA_Main/APP_FKControls/LC_taPrjCalcMethod.ascx"/>
        <add tagPrefix="LGM" tagName="lgCombo" src="~/TA_Main/APP_FKControls/lgCombo.ascx"/>
        <add tagPrefix="LGM" tagName="AF_taBDFareControl" src="~/TA_Main/APP_Controls/AF_taBDFareControl.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmLocations" src="~/HRM_Main/APP_FKControls/LC_hrmLocations.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmOfficeLocation" src="~/HRM_Main/APP_FKControls/LC_hrmOfficeLocation.ascx"/>
        <add tagPrefix="LGM" tagName="EmployeeInfoForReports" src="~/Sys_Controls/EmployeeInfoForReports.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtIsgecGSTIN" src="~/TA_Main/APP_FKControls/LC_spmtIsgecGSTIN.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtBillTypes" src="~/TA_Main/APP_FKControls/LC_spmtBillTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtERPStates" src="~/TA_Main/APP_FKControls/LC_spmtERPStates.ascx"/>
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="NoReplyTABill@isgec.com">
        <network host="192.168.25.190" port="465" userName="NoReplyTABill" password="tabill"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>