<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="True"/>
    <add key="PageSizeProvider" value="True"/>
    <add key="eitlPODocumentFile_Path" value="c:\temp"/>
    <add key="eitlPODocumentFile_Path1" value="c:\temp"/>
    <add key="TCPath" value="D:\App_Vault\IDMSRequest\01"/>
    <add key="TCPath1" value="c:\temp"/>
    <add key="RequestDir" value="D:\App_Vault\QCMRequest"/>
    <add key="RequestDir1" value="c:\temp"/>
    <add key="ERPPoDate" value="01/01/2016"/>
    <add key="POSinceDays" value="99999"/>
    <!-- Local System Role for Supplier-->
    <add key="SupplierRoleID1" value="133,137"/>
    <!-- Live Server Role for Supplier-->
    <add key="SupplierRoleID" value="147,157"/>
    <add key="UpdateERP" value="True"/>
    <add key="UseBaaN" value="Live"/>
    <!--<add key ="UseBaaN" value="Test/Live"/>-->
    <add key="QCRequired" value="False"/>
    <add key="Admin" value="0340" />
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="BaaNTestConnection" connectionString="Data Source=192.9.200.45;Initial Catalog=inforerpdb;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=lalit;Password=scorpions" providerName="System.Data.SqlClient"/>
    <add name="BaaNLiveConnection" connectionString="Data Source=192.9.200.129;Initial Catalog=inforerpdb;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=lalit;Password=scorpions" providerName="System.Data.SqlClient"/>
    <add name="--AspNetDBConnection" connectionString="Data Source=192.168.28.136;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="AspNetDBConnection" connectionString="Data Source=192.9.200.150;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="EITL"/>
        <add directoryName="PAK"/>
        <add directoryName="EDI"/>
        <add directoryName="QCM"/>
      </codeSubDirectories>
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <customErrors mode="RemoteOnly"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="LC_eitlMaterialState" src="~/EITL_Main/APP_FKControls/LC_eitlMaterialState.ascx"/>
        <add tagPrefix="LGM" tagName="LC_eitlPODocumentList" src="~/EITL_Main/APP_FKControls/LC_eitlPODocumentList.ascx"/>
        <add tagPrefix="LGM" tagName="LC_eitlPOItemStatus" src="~/EITL_Main/APP_FKControls/LC_eitlPOItemStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_eitlPOList" src="~/EITL_Main/APP_FKControls/LC_eitlPOList.ascx"/>
        <add tagPrefix="LGM" tagName="LC_eitlPOStatus" src="~/EITL_Main/APP_FKControls/LC_eitlPOStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_eitlSuppliers" src="~/EITL_Main/APP_FKControls/LC_eitlSuppliers.ascx"/>
        <add tagPrefix="LGM" tagName="LC_eitlUnits" src="~/EITL_Main/APP_FKControls/LC_eitlUnits.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakUnitSets" src="~/PAK_Main/APP_FKControls/LC_pakUnitSets.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakUnits" src="~/PAK_Main/APP_FKControls/LC_pakUnits.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakResponsibleAgencies" src="~/PAK_Main/APP_FKControls/LC_pakResponsibleAgencies.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakDivisions" src="~/PAK_Main/APP_FKControls/LC_pakDivisions.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakDocuments" src="~/PAK_Main/APP_FKControls/LC_pakDocuments.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakElements" src="~/PAK_Main/APP_FKControls/LC_pakElements.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakItems" src="~/PAK_Main/APP_FKControls/LC_pakItems.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakReasons" src="~/PAK_Main/APP_FKControls/LC_pakReasons.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPOStatus" src="~/PAK_Main/APP_FKControls/LC_pakPOStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPOTypes" src="~/PAK_Main/APP_FKControls/LC_pakPOTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPkgStatus" src="~/PAK_Main/APP_FKControls/LC_pakPkgStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPOBOMStatus" src="~/PAK_Main/APP_FKControls/LC_pakPOBOMStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakBusinessPartner" src="~/PAK_Main/APP_FKControls/LC_pakBusinessPartner.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPO" src="~/PAK_Main/APP_FKControls/LC_pakPO.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakUItems" src="~/PAK_Main/APP_FKControls/LC_pakUItems.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakCItems" src="~/PAK_Main/APP_FKControls/LC_pakCItems.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPakTypes" src="~/PAK_Main/APP_FKControls/LC_pakPakTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPkgIStatus" src="~/PAK_Main/APP_FKControls/LC_pakPkgIStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakTCPOLRD" src="~/PAK_Main/APP_FKControls/LC_pakTCPOLRD.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakTCPOLR" src="~/PAK_Main/APP_FKControls/LC_pakTCPOLR.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakTCPOL" src="~/PAK_Main/APP_FKControls/LC_pakTCPOL.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakTCPO" src="~/PAK_Main/APP_FKControls/LC_pakTCPO.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakTCPOLRStatus" src="~/PAK_Main/APP_FKControls/LC_pakTCPOLRStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakTCPOLStatus" src="~/PAK_Main/APP_FKControls/LC_pakTCPOLStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakTCPOLRCate" src="~/PAK_Main/APP_FKControls/LC_pakTCPOLRCate.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakWBS" src="~/PAK_Main/APP_FKControls/LC_pakWBS.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakResponsibleAgency" src="~/PAK_Main/APP_FKControls/LC_pakResponsibleAgency.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPkgListH" src="~/PAK_Main/APP_FKControls/LC_pakPkgListH.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPkgListD" src="~/PAK_Main/APP_FKControls/LC_pakPkgListD.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakPkgPO" src="~/PAK_Main/APP_FKControls/LC_pakPkgPO.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSiteLocationTypes" src="~/PAK_Main/APP_FKControls/LC_pakSiteLocationTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSiteLocations" src="~/PAK_Main/APP_FKControls/LC_pakSiteLocations.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakIssueTypes" src="~/PAK_Main/APP_FKControls/LC_pakIssueTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSitePkgH" src="~/PAK_Main/APP_FKControls/LC_pakSitePkgH.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSiteItemMaster" src="~/PAK_Main/APP_FKControls/LC_pakSiteItemMaster.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakDPending" src="~/PAK_Main/APP_FKControls/LC_pakDPending.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakMaterialStates" src="~/PAK_Main/APP_FKControls/LC_pakMaterialStates.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSiteIssReqH" src="~/PAK_Main/APP_FKControls/LC_pakSiteIssReqH.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSiteIssRecD" src="~/PAK_Main/APP_FKControls/LC_pakSiteIssRecD.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSiteMtlIssH" src="~/PAK_Main/APP_FKControls/LC_pakSiteMtlIssH.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakSiteMtlIssD" src="~/PAK_Main/APP_FKControls/LC_pakSiteMtlIssD.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakQCListStatus" src="~/PAK_Main/APP_FKControls/LC_pakQCListStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakQCListH" src="~/PAK_Main/APP_FKControls/LC_pakQCListH.ascx"/>
        <add tagPrefix="LGM" tagName="LC_pakQCPO" src="~/PAK_Main/APP_FKControls/LC_pakQCPO.ascx"/>

        <add tagPrefix="LGM" tagName="LC_qcmInspectionStages" src="~/PAK_Main/APP_FKControls/LC_qcmInspectionStages.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmRegions" src="~/PAK_Main/APP_FKControls/LC_qcmRegions.ascx"/>
        <add tagPrefix="LGM" tagName="LC_qcmRequests" src="~/PAK_Main/APP_FKControls/LC_qcmRequests.ascx"/>

      </controls>
    </pages>
    <httpRuntime maxRequestLength="65536" executionTimeout="14400"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebAuthorizationServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebTools2/App_Services/WebAuthorizationService.asmx" binding="basicHttpBinding" bindingConfiguration="WebAuthorizationServiceSoap" contract="WebAuthorization.WebAuthorizationServiceSoap" name="WebAuthorizationServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>